# https://www.codejam.info/2022/05/debugging-github-actions-workflow-ssh.html
name: SSH 
on:
  # Manual trigger via GitHub UI or CLI
  workflow_dispatch:
  
  # Trigger on push to specific branch (customize as needed)
  push:
    branches:
      - ssh
    paths:
      - '.github/workflows/ssh.yml'
jobs:
  # Job 1: Build Linux Host Kernel
  build-host-kernel:
    name: Checkout
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:latest
            network=host
      - uses: valeriangalliat/action-sshd-cloudflared@v1
